---
- name: Create OBM configuration directory
  file: path=/etc/obm/conf state=directory
  tags: obm-conf

- name: Deploy OBM Global configuration
  template: src=00-global.ini dest=/etc/obm/obm_conf.ini
  tags: obm-conf
