---
- name: Copy OBM yum repo file
  copy: src=obm.repo dest=/etc/yum.repos.d/obm.repo
  tags: obm-conf

- name: Spoof OBM repository hostname in /etc/hosts (mirror mode)
  lineinfile: >
              dest=/etc/hosts
              regexp='.*packages\.obm\.org$'
              line="{{ packages_mirror_ip }}    packages.obm.org"
  when: packages_mode == "mirror"
  tags: obm-conf

- name: Remove any OBM hostname spoofing (internet mode)
  lineinfile: >
              dest=/etc/hosts
              regexp='.*packages\.obm\.org$'
              state=absent
  when: packages_mode == "internet"
  notify:
   - Clean yum repositories
  tags: obm-conf
