---
- name: Deploy local OBM PostgreSQL permissions
  template: src=01-local-obm dest={{ datadir }}/pg_hba.d/01-local-obm
  delegate_to: "{{ obm_db_master_host }}"
  notify:
    - Merge PostgreSQL configuration files
  tags: obm-db

- name: Copy Postgres SQL scripts
  template: src={{ item }} dest={{ scriptsdir }}/{{ item }}
  with_items:
   - setup.sql
   - lang.sql
  delegate_to: "{{ obm_db_master_host }}"
  tags: obm-db

- name: Disable requiretty
  lineinfile: >
   dest=/etc/sudoers
   regexp=^Defaults.*requiretty
   line="#Defaults    requiretty"
  tags: obm-db

- name: DIRTY - Copy obm-conf template
  shell: cp /etc/obm/conf/00-global.ini /etc/obm/obm_conf.ini

- name: Create OBM database
  shell: ./install_obmdb.sh full
  args:
    chdir: /usr/share/obm/scripts/creation/
  notify:
    - Reload Postgres
  tags: obm-db

- name: Enable requiretty
  lineinfile: >
   dest=/etc/sudoers
   regexp=^#Defaults.*requiretty
   line="Defaults    requiretty"
  tags: obm-db
