---
- name: Stop IPTables services
  service: name=iptables state=stopped enabled=no
  tags: iptables

- name: Stop IP6Tables services
  service: name=ip6tables state=stopped enabled=no
  failed_when: False
  tags: iptables

